

<strong>Title</strong>
<p><%= @book.title %></p>

<strong>Body</strong>
<p><%= @book.body %></p>

<a href="<%= edit_book_path(@book) %>">Edit</a>
<%= link_to 'Back', '/books' %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>